<a href="https://colab.research.google.com/github/Aswanurrehman/Data-Science/blob/main/Pandas/Pandas_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**import pandas as pd and numpy as np**

In [ ]:
import pandas as pd
import numpy as np

read csv from this url https://raw.githubusercontent.com/Kokkalo4/Kaggle-SF-Salaries/master/Salaries.csv using pandas in df variable.


If any error is printed ignore that.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Kokkalo4/Kaggle-SF-Salaries/master/Salaries.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

**check the head of DataFrame**

In [ ]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**use the info method to find out how many entries there are.**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

BasePay and OvertimePay both the fields are of **object** type and contains **missing data**, convert them to numeric using

 `pd.to_numeric(df[column_name], errors='coerce')`

 errors='coerce' will replace all non-numeric values with NaN

 then check datatype using info function

In [ ]:
df['BasePay'] = pd.to_numeric(df['BasePay'], errors = 'coerce')
df['OvertimePay'] = pd.to_numeric(df['OvertimePay'], errors = 'coerce')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(5), int64(2), object(6)
memory usage: 14.7+ MB

**What is the average BasePay?**

In [ ]:
df['BasePay'].mean()

66325.4488404877

**What is the highest amount of OvertimePay in the dataset?**

In [ ]:
df['BasePay'].max()

319275.01

**What is the Job Title of JOSEPH DRISCOLL?**

In [ ]:
df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**How much does JOSEPH DRISCOLL make (including benefits)**

In [ ]:
df[df['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

**What is the name of highest paid person**

In [ ]:
df[df['TotalPayBenefits'].max() == df['TotalPayBenefits']]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

**What is the name of lowest paid person (including benefits)?**

find his row index then use iloc to access data

In [ ]:
idx = np.where(df['TotalPayBenefits'].min() == df['TotalPayBenefits'])[0][0]

df.iloc[idx]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                  0.00
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 148653, dtype: object

use info to find column with **0 non-null** value, then drop that column and print info()

In [ ]:
df.drop( columns = ['Notes'], inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Agency            148654 non-null  object
 11  Status            38119 non-null   object
dtypes: float64(4), int64(2), object(6)
memory usage: 13.6+ MB

**What was the average (mean) BasePay of all employees per year?(2011, 2014)**

In [ ]:
df.groupby('Year')[['BasePay']].mean().reset_index()

   Year       BasePay
0  2011  63595.956517
1  2012  65436.406857
2  2013  69630.030216
3  2014  66564.421924

**How many unique job titles are there**

In [ ]:
# df['JobTitle'].unique().size
df['JobTitle'].nunique()

2159

**What are the top 5 most common jobs?**

In [ ]:
df['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**How Many JobTitles with only one occurence in 2013?**

In [ ]:
(df[df['Year'] == 2013]['JobTitle'].value_counts() == 1).sum()

202

**How many people has word chief in there jobtitle?**

In [ ]:
# count = 0

# for x in df['JobTitle']:
#   if 'chief' in x.lower().split(' '):
#     count += 1

# print(count)

# def hasChief(x):
#   return 'chief' in x.lower().split(' ')

# df['JobTitle'].apply(hasChief).sum()

df['JobTitle'].apply(lambda x: 'chief' in x.lower().split(' ')).sum()

477

**Find correlation of TotalPay with other fields**

In [ ]:
df.corr()

,Id,BasePay,OvertimePay,TotalPay,TotalPayBenefits,Year
Id,1.000000,-0.204878,-0.081505,-0.211478,-0.092190,0.968171
BasePay,-0.204878,1.000000,0.266740,0.954494,0.946595,0.033751
OvertimePay,-0.081505,0.266740,1.000000,0.504859,0.467981,0.027887
TotalPay,-0.211478,0.954494,0.504859,1.000000,0.977313,0.032090
TotalPayBenefits,-0.092190,0.946595,0.467981,0.977313,1.000000,0.151947
Year,0.968171,0.033751,0.027887,0.032090,0.151947,1.000000

**use np.where and replace 'Not Provided' on Benefit column to `np.nan`, then fill all this nan value with 0**

**Now convert Benefit column to numeric type**

create an array

`ar = np.array([4,5,7,5,3,3,4,2,7])`


Count How many numbers are in range [3,5]

# Exploring co-reletion

In [ ]:
df2 = pd.DataFrame({
    'x': np.arange(1, 11),
    'y': np.arange(10, 0, -1),
    'z': np.arange(11, 21),
    'r': np.random.rand(10)
})

In [ ]:
df2.head()

   x   y   z         r
0  1  10  11  0.529447
1  2   9  12  0.140899
2  3   8  13  0.847973
3  4   7  14  0.641361
4  5   6  15  0.394618

In [ ]:
df2.corr()

          x         y         z         r
x  1.000000 -1.000000  1.000000  0.240202
y -1.000000  1.000000 -1.000000 -0.240202
z  1.000000 -1.000000  1.000000  0.240202
r  0.240202 -0.240202  0.240202  1.000000